body {
  text-align: center;
}

header {
  margin-top: 1em;
}

#game-board {
  text-align: left;
  width: 500px;
  margin: 1em auto;
}

.game-cell {
  display: inline-block;
  text-align: center;
  margin: 0.5em;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5em;
  width: 1em;
}

.extracted-number {
  background-color: rgb(239, 243, 135);
}

#number {
  height: 50px;
}
